@use "../../../styles/base/media-query" as *;
@use "../../../styles/base/fonts" as *;
@use "../../../styles/base/mixins" as *;
@use "../../../styles/base/variables" as *;
@use "../../../styles/base/typography" as *;
@use "../../../styles/base/colors" as *;


.card {
  @include grid-item(1, 4);
  @include flex(column, flex-start, flex-start);
  padding: $spacing-03;
  margin-top: var(--margin-top);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  background-color: var(--bg-color);
  border-radius: $spacing-01;
  box-shadow: 5px 5px var(--text-color);

  .overline {
    @include overline;
    margin-bottom: $spacing-02;
  }

  .h1 {
    @include h1();
  }

  .h2 {
    @include h2();
  }

  .h3 {
    @include h3();
  }

  .h4 {
    @include h4();
  }

  .body {
    @include body;
    margin-bottom: $spacing-03;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  ul {
    margin-top: $spacing-03;

    a {
      border-bottom: 1px solid var(--text-color);

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

@media (min-width: $tablet) {
  .card {
    @include grid-item(1, 8);
    padding: $spacing-05;
  }
}

@media (min-width: $desktop) {
  .card {
    @include grid-item(var(--column-start), var(--column-span));
    margin-top: var(--margin-top-desktop);

    ul {
      margin-top: $spacing-04;
    }
  }
}
