@use "../../../styles/base/media-query" as *;
@use "../../../styles/base/fonts" as *;
@use "../../../styles/base/mixins" as *;
@use "../../../styles/base/variables" as *;
@use "../../../styles/base/typography" as *;
@use "../../../styles/base/colors" as *;


.wrapper {
  @include grid-item(1, 4);

  .pretitle {
    @include pretitle;
  }

  .card {
    @include flex(column, flex-start, flex-start);

    position: relative;
    padding: $spacing-03;
    border: 1px solid var(--text-color);
    background-color: var(--bg-color);
    border-radius: $spacing-01;
    box-shadow: 5px 5px var(--text-color);

    .date {
      position: absolute;
      top: -0.9rem;
      left: calc($spacing-03 - $spacing-01);
      font-size: 0.75rem;
      padding: $spacing-01;
      background: var(--bg-color);
    }

    .overline {
      @include overline;
    }

    .body {
      @include body;
      margin-bottom: $spacing-03;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  @media (min-width: $tablet) {
    @include grid-item(var(--column-start), var(--column-span));
  }

  @media (min-width: $desktop) {
    margin-top: var(--margin-top-desktop);

    .card {
      padding: $spacing-05;

      .date {
        left: calc($spacing-05 - $spacing-01);
      }
    }
  }
}