@use "../../../styles/base/media-query" as *;
@use "../../../styles/base/fonts" as *;
@use "../../../styles/base/mixins" as *;
@use "../../../styles/base/variables" as *;
@use "../../../styles/base/typography" as *;
@use "../../../styles/base/colors" as *;

.header {
    position: fixed;
    top: 0;
    z-index: 200;
    width: 100vw;
    height: 6rem;

    @include flex(row, center, space-between);
}

.logo {
    @include flex(column, flex-start, center);

    position: absolute;
    top: $spacing-02;
    left: $spacing-03;
    z-index: 10;
    height: 4rem;
    
    h3 {
        @include h3;

        color: var(--text-color);
    }

    @media (min-width: $tablet) {
        left: $spacing-04;
    }
    
    @media (min-width: $desktop) {
        top: $spacing-04;
        left: $spacing-06;
    }
}