@use "../../../styles/base/media-query" as *;
@use "../../../styles/base/fonts" as *;
@use "../../../styles/base/mixins" as *;
@use "../../../styles/base/variables" as *;
@use "../../../styles/base/colors" as *;

.header {
    position: fixed;
    top: 0;
    @include flex(row, center, space-between);
    width: 100vw;
    padding: 0 $spacing-03;
    background-color: $bg-color;
}

.logo {
    max-width: 20%;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1px;
    font-family: "Sporting Grotesque_Bold", sans-serif;

    @media (min-width: $tablet) {
        font-size: 24px;
        line-height: 30px;
    }
}