@use "../../../styles/base/media-query" as *;
@use "../../../styles/base/fonts" as *;
@use "../../../styles/base/mixins" as *;
@use "../../../styles/base/variables" as *;
@use "../../../styles/base/typography" as *;
@use "../../../styles/base/colors" as *;

.header {
    position: fixed;
    top: 0;
    z-index: 200;
    width: 100vw;
    height: 0;

    @include flex(row, center, space-between);
}

.logo {
    @include flex(column, flex-start, flex-start);

    position: absolute;
    top: $spacing-02;
    left: $spacing-01;
    z-index: 10;
    height: auto;
    font-size: 2rem;
    cursor: pointer;

    @media (min-width: $tablet) {
        left: $spacing-04;
    }

    @media (min-width: $desktop) {
        top: $spacing-04;
        left: $spacing-06;
        font-size: 3rem;
    }
}