@use "../../../styles/base/colors" as *;
@use "../../../styles/base/mixins" as *;
@use "../../../styles/base/variables" as *;
@use "../../../styles/base/typography" as *;
@use "../../../styles/base/media-query" as *;
@use "../../../styles/base/animations" as *;

.hero {
    @include flex(column, var(--alignHorizontal), center, $spacing-03);
    @include grid-item(1, 4);
    position: relative;

    width: 100%;
    height: 100%;
    text-align: var(--text-align);

    .overline {
        @include overline;
    }

    .title {
        @include h1;

        max-width: 90%;

        // Animated text initial value
        span {
            display: inline-block;
            white-space: pre;
            opacity: 0;
        }
    }

    .body {
        @include body;
    }

    .cta {
        @include flex(row, center, center);
        position: absolute;
        bottom: 0;
        height: 48px;
        padding: 0 $spacing-03;
        font-family: "Work Sans";
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 0.1px;
        border: 2px solid var(--selected-color);
        border-radius: 42px;
        transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), color 0.3s cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            background-color: var(--selected-color);
            color: var(--neutral-10);
        }

        &:active {
            background-color: var(--selected-color);
            color: var(--neutral-10);
        }
    }

    @media (min-width: $tablet) {
        @include grid-item(1, 8);
    }

    @media (min-width: $desktop) {
        @include grid-item(1, 12);
    }
}