@use "../../../styles/base/media-query" as *;
@use "../../../styles/base/fonts" as *;
@use "../../../styles/base/mixins" as *;
@use "../../../styles/base/variables" as *;
@use "../../../styles/base/typography" as *;
@use "../../../styles/base/colors" as *;
@use "../../../styles/base/animations" as *;

.details {
  position: relative;
  z-index: 0;
  @include grid-item(1, 4);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: var(--margin-top);
  background-color: var(--bg-color);
  border: 1px solid var(--text-color);
  border-radius: $spacing-01;
  box-shadow: 5px 5px var(--text-color);
  overflow: hidden;
  cursor: pointer;

  .pretitle {
    @include pretitle;
    }

    summary::-webkit-details-marker {
      display: none;
      }

    summary {
      @include flex(column, flex-start, flex-start);
      padding: $spacing-03;
      list-style: none;
      outline: none;

    .chevron {
      position: absolute;
      top: $spacing-03;
      right: $spacing-03;
      transition: 0.1s transform ease-in;
    }

    .date {
      position: absolute;
      top: -0.9rem;
      left: calc($spacing-03 - $spacing-01);
      font-size: 0.75rem;
      padding: $spacing-01;
      background: var(--bg-color);
    }

    .overline {
      @include overline;
      margin-bottom: $spacing-02;
    }

    .h1 {
      @include h1();
    }

    .h2 {
      @include h2();
    }

    .h3 {
      @include h3();
    }

    .h4 {
      @include h4();
    }
  }

  .content {
    @include flex(column, flex-start, flex-start);
    padding: 0 $spacing-03 $spacing-03;

    .body {
      @include body;
      margin-bottom: $spacing-03;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    ul {
      a {
        border-bottom: 1px solid var(--text-color);

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}

.details[open] {
  summary {
    .chevron {
      transform: rotate(180deg);
      transition: .2s transform ease-in;
    }
  }
}

@media (min-width: $tablet) {
  .details {
    @include grid-item(1, 8);

    summary {
      padding: $spacing-05;
      transition: .2s padding cubic-bezier(0.445, 0.05, 0.55, 0.95);

      .chevron {
        top: $spacing-05;
        right: $spacing-05;
        width: 20px;
        height: 20px;
      }

      &::after {
        position: absolute;
        z-index: -1;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--text-color);
        opacity: 0.15;
        border-radius: $spacing-01;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform .6s cubic-bezier(0.19, 1, 0.22, 1);
      }
    }

    .content {
      padding: 0 $spacing-05 $spacing-05;
    }
  }
}

@media (min-width: $desktop) {
  .details {
    @include grid-item(var(--column-start), var(--column-span));
    margin-top: var(--margin-top-desktop);

    summary:hover {
      padding: $spacing-05 $spacing-06;

      &::after {
        transform: scaleY(1);
        transform-origin: bottom;
      }
    }

    .date {
      left: calc($spacing-05 - $spacing-01);
    }
  }

  .details[open] {
    .summary:hover {
      padding: $spacing-05;

      &::after {
        transform: scaleY(0);
        background-color: transparent;
      }
    }
  }
}