.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;

  .h1 {
    font-family: "Sporting Grotesque_Bold", sans-serif;
  }
}
