@use "../../../styles/base/" as *;
@use "../../../styles/base/mixins" as *;
@use "../../../styles/base/typography" as *;
@use "../../../styles/base/variables" as *;

.menu {
    @include flex(row, center, space-between);
    padding: $spacing-02 0;
    color: $primary;
}

.menuList {
    list-style-type: none;
    padding: 0;
}