@use "../../../styles/base/" as *;
@use "../../../styles/base/mixins" as *;
@use "../../../styles/base/typography" as *;
@use "../../../styles/base/variables" as *;
@use "../../../styles/base/colors" as *;

.menu {
    @include flex(column, flex-start, center, 4rem);
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    padding: $spacing-02 $spacing-03;
    overflow: hidden auto;
    color: var(--text-color);
    background-color: var(--bg-color);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .6s cubic-bezier(0.5, 0, 0, 1) 0s, width .6s cubic-bezier(0.5, 0, 0, 1) 0s;

    &.open {
        width: 100vw;
        transform: scaleX(1);
        transform-origin: right;
        transition: transform .6s cubic-bezier(0.5, 0, 0, 1) 0s, width .6s cubic-bezier(0.5, 0, 0, 1) 0s;

        .menuList,
        .iconList  {
            opacity: 1;
        }
    }

    .menuList,
    .iconList {
        padding: 0;
        list-style-type: none;
        opacity: 0;
    }

    .iconList {
        @include flex(row, center, flex-start);
        width: 100%;
        //position: absolute;
        //left: 1.5rem;
        //bottom: 1rem;
    }

    @media (min-width: $tablet) {
        padding: $spacing-02 $spacing-04;
    }

    @media (min-width: $desktop) {
        padding: $spacing-04 $spacing-06;

        &.open {
            width: 30vw;
        }
    }
}