@use "../../../styles/base/mixins" as *;

.grid {
    @include grid;

    width: 100vw;
    min-height: calc(100vh - 6rem);

    @supports (height: 100svh) {
        min-height: calc(100svh - 6rem);
    }
}