@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

@font-face {
    font-weight: normal;
    font-family: 'Sporting Grotesque_Regular';
    font-style: normal;
    src: url('/fonts/Sporting_Grotesque-Regular_web.otf') format('embedded-opentype'),
        url('/fonts/Sporting_Grotesque-Regular_web.woff') format('woff'),
        url('/fonts/Sporting_Grotesque-Regular_web.woff2') format('woff2'),
        url('/fonts/Sporting_Grotesque-Regular_web.ttf') format('truetype'),
        url('/fonts/Sporting_Grotesque-Regular_web.svg#svgFontName') format('svg');
}

@font-face {
    font-weight: normal;
    font-family: 'Sporting Grotesque_Bold';
    font-style: normal;
    src: url('/fonts/Sporting_Grotesque-Bold_web.eot');
    src: url('/fonts/Sporting_Grotesque-Bold_web.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Sporting_Grotesque-Bold_web.woff') format('woff'),
        url('/fonts/Sporting_Grotesque-Bold_web.woff2') format('woff2'),
        url('/fonts/Sporting_Grotesque-Bold_web.ttf') format('truetype'),
        url('/fonts/Sporting_Grotesque-Bold_web.svg#svgFontName') format('svg');
}