@use "variables" as *;
@use "media-query" as *;

@mixin flex($flex-direction, $align-items, $justify-content, $gap: null) {
    display: flex;
    flex-direction: $flex-direction;
    gap: $gap;
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin padding() {
    padding: $spacing-03;

    @media (min-width: $tablet) {
        padding: $spacing-08;
    }

    @media (min-width: $desktop) {
        padding: $spacing-09;
    }
}

@mixin grid() {
    @include padding;

    position: relative;
    display: grid;
    grid-gap: $spacing-03;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    width: 100vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;

    @media (min-width: $tablet) {
        grid-gap: $spacing-02;
        grid-template-columns: repeat(8, 1fr);
    }

    @media (min-width: $desktop) {
        grid-gap: $spacing-02;
        grid-template-columns: repeat(12, 1fr);
    }

    @media (min-width: $desktop-l) {
        grid-gap: $spacing-02;
        grid-template-columns: repeat(12, $spacing-07);
        justify-content: center;
    }
}

@mixin grid-item($column-start, $column-span: null, $row-start: null) {
    grid-row-start: $row-start;
    grid-column: $column-start / span $column-span;
}